<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <link rel="icon" href="/images/favicon.svg">
  <title>TravelMate</title>
  <!-- poppins by google font -->
  <!-- Poppins font by google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
</head>

<body class="font-poppins">
  <div class="main-container w-[100vw] h-[100vh] flex flex-row max-sm:flex-col ">
    <!-- left side -->
    <div
      class="image-container flex-shrink-0 h-full w-[50%] bg-[url('/images/login-page.avif')] bg-center bg-cover bg-no-repeat rounded-tr-3xl rounded-br-3xl max-sm:w-[100%] max-sm:rounded-r-none max-lg:hidden max-sm:flex max-sm:max-h-[300px]">
      <div class="image-container-content h-full w-auto flex flex-col justify-end px-5 py-7 text-white space-y-2">
        <h1 class="font-bold text-[35px] max-xl:text-[30px] max-sm:text-[24px] ">
          Find Your Travel Companion
        </h1>
        <div class="text-[13px]">
          Connect with like-minded travelers and explore the world together.
        </div>
      </div>
    </div>
    <!-- right side -->
    <div class="login-container h-full w-[50%] flex items-center justify-center max-sm:w-[100%] max-sm:my-5 max-lg:bg-[url('/images/login-page.avif')] max-lg:bg-center max-lg:bg-cover max-lg:bg-no-repeat max-lg:w-[100%]
    max-sm:bg-none">
      <div
        class="login container w-[60%]  flex items-center justify-center flex-col gap-3 max-xl:w-[80%] max-sm:w-[90%] max-lg:bg-white max-lg:bg-opacity-70 max-lg:p-5 max-sm:p-0">
        <h1 class="heading font-bold text-3xl max-sm:text-[24px]">Welcome To TravelMate</h1>
        <div class="subheading text-[#4c5663] px-3 text-[15px]">Sign in to find your perfect travel companion
        </div>
        <!-- email container -->
        <div class="email-box w-full space-y-2 mt-5 mb-3">
          <div class="box-text">Email</div>
          <input
            class="w-full h-10 border border-gray-300 rounded-lg px-3 py-1 placeholder-[#72727a] text-[#72727a] outline-2 outline-gray-400 text-sm"
            type="email" name="email" id="email" placeholder="uid@cuchd.in">
        </div>
        <div id="password-box" class="password-box w-full space-y-2 mb-6">
          <div class="box-text">Password</div>
          <input
            class="w-full h-10 border border-gray-300 rounded-lg px-3 py-1 placeholder-[#72727a] text-[#72727a] outline-2 outline-gray-400 text-sm"
            type="password" name="password" id="password" placeholder="">
        </div>
        <div id="fill-all-field" class="text-red-500 text-left w-full hidden">Fill the above field</div>
        <button id="submit-button"
          class="w-[100%] h-10 border border-black rounded-lg px-3 py-1 text-white bg-black outline-none text-sm active:bg-white active:text-black mb-4">Sign
          In</button>
        <!-- continue with -->
        <div class="continue-with w-full relative flex items-center justify-center">
          <div class="line h-[1px] w-full bg-gray-200 absolute top-[50%] z-0"></div>
          <div class="continue-with-content z-10 bg-white text-[11px] text-[#606067] px-1">OR CONTINUE WITH</div>
        </div>
        <div class="signup text-[12px] mt-4">Dont Have an account? <a class="text-blue-500 font-bold tracking-wide"
            href="/signup">Sign Up</a></div>
      </div>
    </div>
  </div>
  <script src="/js/login.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SS3CLN2NVQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-SS3CLN2NVQ');
  </script>
</body>

</html>